<head>
  <title>MyMazda Connected Service Relay</title>
</head>
<body>
  <p>For help, please visit <a href="https://github.com/alanzchen/mymazda-relay">Github</a></p>
  <form action="/vehicles_html">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password:</label><br>
    <input type="text" id="password" name="password"><br>
    <label for="region">Choose your region:</label><br>
    <select id="region" name="region">
      <option value="MNAO">North America</option>
      <option value="MME">Europe</option>
      <option value="MJO">Japan</option>
    </select>
    <br>
    <input type="submit" value="Get Vehicles VIDs">
  </form>
</body>